<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504246205442-qbj9g21klqd5ljpfoatmertn27jgsfrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504246205442-qbj9g21klqd5ljpfoatmertn27jgsfrd</string>
	<key>API_KEY</key>
	<string>AIzaSyA-Wkhqtc6TRxccUJtVJmr0924OWJSc13c</string>
	<key>GCM_SENDER_ID</key>
	<string>504246205442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>handover.task.handoverTackingTask</string>
	<key>PROJECT_ID</key>
	<string>handover-task</string>
	<key>STORAGE_BUCKET</key>
	<string>handover-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504246205442:ios:a785fd0b13c404fc7bbb1b</string>
</dict>
</plist>